.banner {
    width:100%;
    height:220px;
    background-image: url("house_background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #F4F3F1;
    font-family: 'Montserrat';
}

.banner-buttons {
    background-color: #3065B0;
    color: white;
    font-size: 14px;
    padding: 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: 0.3s ease-in-out;
}

.banner-buttons:hover {
    background-color: #254F8C;
}

#home_button {
    position: absolute; top:1px; left:2px;
}

h2, p {
    text-align: center;
}

.text_top {
    background-color: #FFF4A3;
}

.HFS1 {
    margin: 5px;
    width: 500px;
    max-width: 600px;
    height: auto;
    display: block;
}

.HFS1T {
    width: 55%;
    line-height: 1.6;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#learn-button1 {
    align-self: center;
}

.learn-buttons {
    background-color: #04AA6D;
    color: white;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.learn-buttons:hover {
    background-color: #059862;
}

.house1 {
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 32px;
    margin-bottom: 40px;
    margin-top: 25px;
}

.HFS2 {
    margin: 5px;
    width: 500px;
    max-width: 600px;
    height: auto;
    display: block;
}

.HFS2T {
    display: flex;
    flex-direction: column;
    width: 55%;
    line-height: 1.6;
    text-align: left;
}

#learn-button2 {
    align-self: center;
}

.house2 {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin-top: 40px;
}

.HFS3 {
    margin: 5px;
    width: 500px;
    max-width: 600px;
    height: auto;
    display: block;
}

.HFS3T {
    display: flex;
    flex-direction: column;
    width: 55%;
    line-height: 1.6;
    text-align: left;
}

#learn-button3 {
    align-self: center;
}

.house3 {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin-top: 40px;
}

.RES {
    width: 400px;
    height: auto;
    margin-right: 15px;
}

.why-us {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.seller-awards {
    width: 55%;
    line-height: 1.6;
    text-align: left;
    align-items:center;
    
}

#box1 {
    align-items: center;
    background-color: #FFF4A3;
}

.ratings {
    display: block;
}

.footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 13px;
    color: rgb(44, 42, 42);
    margin: 4px;
}